channels:
- conda-forge
dependencies:
- python =3.12
- pydantic =2.11.4
- hatch =1.14.1
- hatchling =1.27.0
- httpcore =1.0.7
- jobflow =0.1.19
- pyiron_base =0.12.0
- pyiron_workflow =0.13.0
- pygraphviz =1.14
- aiida-workgraph =0.5.2
- conda_subprocess =0.0.7
- networkx =3.4.2
- cwltool =3.1.20250110105449
